@model Nhom24.Models.DonHang

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>DonHang</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="DonHangID" class="control-label"></label>
                <input asp-for="DonHangID" class="form-control" value="@ViewBag.DonHangID" />
                <span asp-validation-for="DonHangID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DiaChiDonHang" class="control-label"></label>
                <input asp-for="DiaChiDonHang" class="form-control" />
                <span asp-validation-for="DiaChiDonHang" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ThanhTien" class="control-label"></label>
                <input asp-for="ThanhTien" class="form-control" />
                <span asp-validation-for="ThanhTien" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NguoiDungID" class="control-label"></label>
                <select asp-for="NguoiDungID" class ="form-control" asp-items="ViewBag.NguoiDungID"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
