@model Nhom24.Models.NganhHang

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>NganhHang</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NganhHangName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NganhHangName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DanhMucSanPham)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DanhMucSanPham.DanhMucSanPhamID)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.NganhHangID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
